src/main/resources/layouts/template.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Custom Attribute Types -->
    <xs:simpleType name="View.Size">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+|match|wrap"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="View.Percent">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="View.AlignX">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="View.AlignY">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="View.Resources">
        <xs:restriction base="xs:string">
            <!-- Auto generated by script -->
<!--##########-->
        </xs:restriction>
    </xs:simpleType>



    <!-- Custom Attribute Groups -->
    <xs:attributeGroup name="ViewAttrGroup">
        <xs:attribute name="id"         type="xs:integer"   default="-1"      />
        <xs:attribute name="width"      type="View.Size"    use="required"    />
        <xs:attribute name="height"     type="View.Size"    use="required"    />
        <xs:attribute name="elevation"  type="View.Percent" use="required"    />
        <xs:attribute name="x_pos"      type="xs:float"     use="required"    />
        <xs:attribute name="y_pos"      type="xs:float"     use="required"    />
        <xs:attribute name="visible"    type="xs:boolean"   default="true"    />
        <xs:attribute name="x_align"    type="View.AlignX"  default="left"    />
        <xs:attribute name="y_align"    type="View.AlignY"  default="bottom"  />
        <xs:attribute name="alpha"      type="View.Percent" default="1.0"     />
    </xs:attributeGroup>

    <xs:attributeGroup name="Attr.ViewGroup">
        <xs:attribute name="id"         type="xs:integer"   default="-1"      />
        <xs:attribute name="width"      type="View.Size"    use="required"    />
        <xs:attribute name="height"     type="View.Size"    use="required"    />
        <xs:attribute name="elevation"  type="View.Percent" default="1"       use="prohibited"    />
        <xs:attribute name="x_pos"      type="xs:float"     use="required"    />
        <xs:attribute name="y_pos"      type="xs:float"     use="required"    />
        <xs:attribute name="visible"    type="xs:boolean"   default="true"    />
        <xs:attribute name="x_align"    type="View.AlignX"  default="left"    />
        <xs:attribute name="y_align"    type="View.AlignY"  default="bottom"  />
        <xs:attribute name="alpha"      type="View.Percent" default="1.0"     />
    </xs:attributeGroup>
    <!-- <xs:attribute name="" type=""/> -->



    <!-- Custom Tags -->
    <xs:element name="Scene">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:group ref="Views"/>
            </xs:choice>
            <xs:attribute name="projection_width"    type="xs:positiveInteger" use="required"/>
            <xs:attribute name="projection_height"   type="xs:positiveInteger" use="required"/>
            <xs:attribute name="projection_origin_x" type="View.AlignX"        use="required"/>
            <xs:attribute name="projection_origin_y" type="View.AlignY"        use="required"/>
        </xs:complexType>
    </xs:element>
    
    <xs:group name="Views">
        <xs:choice>
            <xs:element name="ViewGroup">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:group ref="Views"/>
                    </xs:choice>
                    <xs:attributeGroup ref="Attr.ViewGroup"/>
                </xs:complexType>
            </xs:element>

            <xs:element name="View">
                <xs:complexType>
                    <xs:choice>
                        <xs:element ref="background" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                    <xs:attributeGroup ref="ViewAttrGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>

    <xs:element name="background">
        <xs:complexType>
            <xs:attribute name="default"  type="View.Resources"  default="none"/>
            <xs:attribute name="selected" type="View.Resources"  default="none"/>
            <xs:attribute name="clicked"  type="View.Resources"  default="none"/>
            <xs:attribute name="checked"  type="View.Resources"  default="none"/>
        </xs:complexType>
    </xs:element>

</xs:schema>